:root {
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;

  display: flex;
  justify-content: center;

  & > #app {
    flex: 1;
    max-width: 900px;
    margin: 0 2rem;

    display: flex;
    flex-direction: column;
  }
}

.it-modal-content {
  padding: 1.5rem !important;
}
